---
import Layout from "../layouts/Layout.astro";
import "./serie.css";

export async function getStaticPaths() {
  const series = Object.values(
    import.meta.glob("../../content/series/*.md", { eager: true })
  );

  return series.map((serie) => ({
    params: { slug: serie.frontmatter.slug },
    props: { serie },
  }));
}

const { serie } = Astro.props;
const { title, images } = serie.frontmatter;
const Content = serie.Content;
---

<script type="module" src="/scripts/series-text.js"></script>

<Layout>
  <main class="series">

    <section class="series-intro">
      <h1>{title}</h1>
    </section>

    <div class="serie-content-container">
    <section class="series-images">
      {images.map((image) => (
        <figure>
          <img src={image.url} alt={image.title ?? ""} class="fullscreen-image"/>

        </figure>
      ))}
    </section>
    <section class="serie-text" data-collapsible>
      <section class="series-text" data-collapsible>
  <div class="series-text__viewport">
    <div class="series-text__content">
      <Content/>
    </div>
  </div>

  <button class="series-text__toggle" type="button" aria-expanded="false">
    Lire la suite
  </button>
</section>
  
</section>

    </div>

  </main>
</Layout>

