---
import Layout from "../layouts/Layout.astro";
import "../styles/genericPageContent.css";

const pages = import.meta.glob("../../content/pages/*.md", { eager: true });
const bio = pages["../../content/pages/bio.md"];
const { frontmatter, Content } = bio;
---

<Layout title="Biographie — Raphaelle Brui" bodyClass="page bio">
  <main class="page-content">
    <h1>{frontmatter.title}</h1>

    <Content />
  </main>
</Layout>