---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Biographie — Raphaelle Brui" bodyClass="page bio">
  <main class="page-content">
    <h1>Biographie</h1>

    <p>
      Text
    </p>

    <p>
      (Texte à compléter.)
    </p>
  </main>
</Layout>