---
---
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <title>Raph Photo</title>
  </head>

  <body style="font-family: system-ui; padding: 2rem">
    <h1>Accueil</h1>
    <p>Cette page sera ta future home.</p>
    <p><a href="/series/">Voir les séries</a></p>
  </body>
</html>
