      /* RESET GLOBAL */
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      body {
        margin: 0;
        font-family: system-ui, sans-serif;
      }

      .global-container{
        padding: 80px;
      }

      header {
        position: fixed;
        /* position: absolute;
        top: 0; */
        color: #fff;
        width: 100%;
        height:80px;
        padding: 1.2rem 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 20;
        background: rgb(26, 26, 26)
      }

      footer {
        position: fixed;
        bottom:0;
        width: 100%;
        height:20px;
        background: rgb(26, 26, 26);
        z-index: 20;
      }

      .brand {
        font-size: 1.8rem;
        font-weight: 600;
        letter-spacing: 0.05em;
      }

      nav a {
        margin-left: 1.8rem;
        color: white;
        text-decoration: none;
        font-size: 1rem;
        transition: opacity 0.2s;
      }

      nav a:hover {
        opacity: 0.6;
      }

.fullscreen-image {
  cursor: url("../images/fullScreen32.png") 16 16, pointer;
}

/* overlay d’indication */
.fullscreen-image::after {
 content: "fullscreen view";
 font-size: 30px;
 font-weight:bold;
  position: fixed;
  bottom: 24px;
  right: 24px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: rgba(0,0,0,0.3);
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  z-index: 999;
}

/* affichage au hover */
.fullscreen-image:hover::after {
  opacity: 1;
}

.fullscreen-image:fullscreen {
  object-fit: contain;
  background: black;
  cursor: zoom-out;
  cursor: url("../images/exitFullScreen.png") 16 16, pointer;
} 