---
/* Layout global du site */
import "./layout.css";
const { title = "Raphaelle Brui", bodyClass = "" } = Astro.props;

// series fetch
const series = Object.values(
  import.meta.glob("../../content/series/*.md", { eager: true })
);
---

<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script type="module" src="/scripts/globalScript.js"></script>
    <title>{title}</title>

    <style>


    </style>
  </head>

  <body class={bodyClass}>

    <!-- HEADER GLOBAL -->
    <header>
      <div class="brand">Raphaelle Brui</div>

      <nav>
        <a href="/">Accueil</a>

        {series.map(serie => (
          <a href={`/series/${serie.frontmatter.slug}/`}>
            {serie.frontmatter.title}
          </a>
        ))}

        <a href="/contact/">Contact</a>
      </nav>
    </header>

    <div class="global-container">
    <slot />
    </div>

    <footer>
        <nav>
    <a
      href="https://revelles.fr/photographe/raphaelle-brui"
      target="_blank"
      rel="noopener noreferrer"
    >
      Boutique
    </a>
    <a
      href="http://www.agence-lepictorium.com"
      target="_blank"
      rel="noopener noreferrer"
    >
      Agence
    </a>
  </nav>
    </footer>
  </body>
</html>
